[Unit]
Description=A website blocker
After=multi-user.target graphical.target network-online.target
[Service]
Type=simple
Restart=always
RestartSec=10
TimeoutSec=2
WorkingDirectory=<<SRC_LOC>>
ExecStart=<<SRC_LOC>>/main.py
User=root
[Install]
WantedBy=multi-user.target