[Unit]
Description=A website blocker
After=multi-user.target graphical.target network-online.target
[Service]
Type=simple
Restart=always
RestartSec=10
TimeoutSec=2
# TODO #enhancement: have this file be a template, then on install sub in the real
# source directory
WorkingDirectory=/home/charlie/src/aichbee
ExecStart=/home/charlie/src/aichbee/main.py
User=root
[Install]
WantedBy=multi-user.target